:root {
  color-scheme: dark light;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  overflow: hidden;
  background: rgba(7, 7, 7, 0.748);
  backdrop-filter: blur(20px);
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-app-region: drag;
  border-radius: 12px;
  background-color: transparent;
}

@font-face {
  font-family: 'tama';
  src: url(./assets/tamaconnecttype.ttf);
}

h1 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -0.02em;
}

.tamagotchi {
  width: 320px;
  height: 400px;
  background-color: rgb(0, 0, 0);
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  border-radius: 70% 70% 60% 60% / 80% 80% 60% 60%;
  box-shadow:
    inset 0 12px 40px 0 #222,
    inset 0 2px 8px 0 #444,
    inset 0 -12px 40px 0 #000;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  overflow: hidden;
  flex-direction: column;
  -webkit-app-region: drag;
}

.screen {
  width: 180px;
  height: 160px;
  text-align: center;
  top: 20px;
  position: relative;
  background-color: rgb(125, 142, 121);
  box-shadow: inset 10px 5px 10px 5px#1a1a1aa9;
  font-family: 'tama';
  -webkit-app-region: none;
}

.pet {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.pet img {
  max-width: 100px;
  max-height: 100px;
  image-rendering: pixelated;
  display: block;
}

@keyframes idle {

  0%,
  49% {
    transform: translateX(-15px);
  }

  50%,
  79% {
    transform: translateX(0px);
  }

  80%,
  100% {
    transform: translateX(15px);
  }
}

.btn-group {
  display: flex;
  margin-top: 45px;
  gap: 15px;
  -webkit-app-region: none;
}

.btn {
  padding: 5px;
  height: 35px;
  width: 35px;
  border-radius: 100%;
  border: none;
}